%div.jumbotron{id: 'title_hero'}
  %div.container
    %h1 Title of Page
    %p Details.... 
%div.container
  %div.row
    %div.col-md-12
      %h2 Second heading
      %p Lorem ipsum.....
%div.container  
  %div.row
    %div.col-md-4
      %h2 Section 1
      %p Lorem ipsum....
    %div.col-md-4
      %h2 Section 2
      %p Lorem ipsum....
    %div.col-md-4
      %h2 Section 3
      %p Lorem ipsum..
